@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

.authInput{
    width: 130px;
    height: 24px;
    left: 683px;
    top: 39px;

    border: 0.2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
    margin-right: 13px;
}

.authButton{
    width: 163px;
    height: 31px;
    left: 978px;
    top: 36px;

    background: #EBE3E3;
    border: 0.2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 9px;

    color: #000000;
}