@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.helloText{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.helloData{
    font-weight: 700;
}

.helloBox{
    margin: 273px 20% 0;
    
}